langgraph==0.4.8
langgraph-api==0.2.44
langgraph-checkpoint==2.0.26
langgraph-cli==0.2.12
langgraph-prebuilt==0.2.2
langgraph-runtime-inmem==0.2.1
langgraph-sdk==0.1.70

langchain>=0.2.6  # Compatible with langchain-core==0.3.22
langchain-core>=0.3.22
# langchain-community==0.2.0  # Only keep one version
langchain-ollama==0.3.3
ollama>=0.1.7
pydantic
python-dotenv>=1.0.1
chromadb>=0.4.24
typing-extensions>=4.5.0
